
 <h1><%= @borough.name %></h1>
<div class="borough_show_container">
  <ol>
    <% @museums.where(borough_id: @borough.id).each do |museum| %>
    <ul><%= link_to museum.title, museum %></ul><br>
    <% end %>
  </ol>
  <br>
</div>

<%= button_to "Back to Home", home_index_path, method: :get, class: 'borough_home_button' %>
