
 <h1><%= @borough.name %></h1>

<ol>
  <% @museums.where(borough_id: @borough.id).each do |museum| %>
  <li><%= link_to museum.title, museum %></li><br>
  <% end %>
</ol>
<%= button_to "Back to Home", home_index_path, method: :get %>
