/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* .queue_button {
   background-color: #008CBA;
   border-radius: 12px;
   border: none;
   color: blue;
   padding: 5px 5px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
 } */

 .search_form {
   display: inline-block;
   position: relative;
   float: right;
   border-radius: 12px;
   padding: 1rem 2rem;
   margin: 0;
   background: #0069ed;
   font-family: nevis;
   color: white;
   font-size: 5vh;

 }

 .queue_button {
     display: inline-block;
     position: relative;
     left: 100px;
     top: 50px;
     border-radius: 12px;
     padding: 1rem 2rem;
     margin: 0;
     background: #0069ed;
     color: white;
     font-family: nevis;
     font-size: 5vh;
     cursor: pointer;
     text-align: center;
     transition: background 250ms ease-in-out, transform 150ms ease;
 }

 .queue_button:hover,
 button:focus {
     background: pink;
 }

 .queue_button:focus {
     outline: 1px solid #fff;
     outline-offset: -4px;
 }

 .queue_button:active {
     transform: scale(0.99);
 }
