<h1>Museum Queue</h1>

<%= button_to "Back to Home", home_index_path, method: :get, class: 'index_home_button' %>

<div class="">
  <ul>
    <% if @queue_museums %>
    <% @queue_museums.each do |museum| %>
   <p><%= link_to museum.title, museum %></p>
      <% end %>
    <% end %>
  </ul>
</div>

<%= button_to "delete", queues_delete_path, :method => :delete, class: 'delete_button' %>
